/* Color Variables */
:root {
    --light: #F9F5F2;
    --slate-gray: #8D9690;
    --gray: #C4BFB9;
    --active: #5F5E66;
}
/* Font Import */
@font-face {
  font-family: "Actay";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Actay-Regular.woff2") format("woff2"), url("../fonts/Actay-Regular.woff") format("woff");
}
/* Visual Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Actay, Helvetica, sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    color: var(--light);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background-color: var(--slate-gray);
}

.first-block {
    display: grid;
    grid-template-columns: 4% 1fr 25% 1fr 1fr 1fr 4%;
    grid-template-rows: 2rem auto 4rem auto 1rem auto 12rem auto auto 12rem auto;
    grid-template-areas: 
        /*1*/". . . . . . ."
        /*2*/". logo . . . navmenu ."
        /*3*/". . . . . . ."
        /*4*/". studioName studioName studioName studioName studioName ."
        /*5*/". . . . . . ."
        /*6*/". authorName authorName photoContainer photoContainer photoContainer ."
        /*7*/". . . . . . ."
        /*8*/". . mainTextContainer mainTextContainer mainTextContainer mainTextContainer ."
        /*9*/". . mainTextContainer mainTextContainer mainTextContainer mainTextContainer ."
        /*10*/". . . . . . ."
        /*11*/". allProjects allProjects . . . .";
}

/* Grid Layout for the Logo + NavMenu + Dropdown Button */
.logo {
    grid-area: logo;
    align-self: center;
    justify-self: start;
    cursor: pointer;
    margin-left: 5px;
}
.nav-menu {
    grid-area: navmenu;
    display: grid;
    grid-template-columns: auto;
    row-gap: 0.4rem;
}

.nav-menu a {
    justify-self: end;
    text-decoration: none;
    font-size: 1.1rem;
}
.nav-menu a:hover {
    color: #5F5E66;
    transition-duration: 0.4s;
}

/* Dropdown */
.dropdown-burger {
    grid-area: navmenu;
    align-self: center;
    justify-self: end;
    display: none;
    cursor: pointer;
}
.dropdown-burger:active {
    filter: brightness(20%);
}
#dropdown-block  {
    position: fixed;
    display: none;
    top: -1100px;
    width: 100%;
    height: 100%;
    background-color: #8D9690;
    transition-duration: 0.5s;
}
.dropdown-container {
    display: grid;
    grid-template-columns: 1% 1fr 1fr 1fr 1%;
    grid-template-rows: 1rem auto 4rem auto auto auto 8rem 4rem;
    grid-template-areas:
    ". . . . ."
    ". logo . x-button ."
    ". . . . ."
    ". first first . ."
    ". second second . ."
    ". third third . ."
    ". . . . ."
    ". behance facebook instagram .";
    gap: 1rem;
}
.dropdown-container a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 2.4rem;
    color: var(--light);
}

#drop-logo, #drop-x {
    align-self: center;
    justify-self: center;
    transition-duration: 0.8s;
    opacity: 0;
    margin-top: -20px;
}
#drop-logo {
    grid-area: logo;
}
#drop-x {
    grid-area: x-button;
    justify-self: end;
    cursor: pointer;
}
#projects-link, #about-link, #contacts-link {
    align-self: center;
    justify-self: center;
}
#projects-link {
    grid-area: first;
    transition-duration: 1.5s;
    opacity: 0;
    margin-top: -20px;
}
#about-link {
    grid-area: second;
    transition-duration: 1.5s;
    opacity: 0;
    margin-top: -20px;
}
#contacts-link {
    grid-area: third;
    transition-duration: 1.5s;
    opacity: 0;
    margin-top: -20px;
}
#behance, #facebook, #instagram {
    color: var(--gray);
    font-size: 1rem;
    align-self: center;
    justify-self: center;
    opacity: 0;
    transition-duration: 1.5s;
    margin-top: -20px;
}
#behance {
    grid-area: behance;
}
#facebook {
    grid-area: facebook;
}
#instagram {
    grid-area: instagram;
}



/* Lines Styling: */
div.vertical-line {
    position: fixed;
    width: 1px;
    background-color: #F5F5F5;
    opacity: 15%;
    z-index: -1;
    min-height: 100vh;
    margin-left: 3.4%;
}
#line-2 {
    margin-left: 39%;
}
#line-3 {
    margin-left: 66%;
}
#line-4 {
    margin-left: 79%;
}
#line-5 {
    margin-left: 97%;
}



/* H1 styling */
.first-block h1 {
    grid-area: studioName;
    align-self: center;
    justify-self: center;
    font-size: 16vw;
}


/* Author Name styling */
.first-block h3 {
    grid-area: authorName;
    color: var(--gray);
    font-size: 1.3rem;
    align-self: end;
}


/* First Block Images styling */
.first-block-image-container {
    grid-area: photoContainer;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: 
        "image1 image2 image3"
        ".      .      button";
    gap: 2%;
}
.first-block-image-container img {
    width: 100%;
    height: auto;
}


/* First Block img Button to open All Projects */
.first-block-images-button {
    grid-area: button;
    display: grid;
    grid-template-columns:1fr auto;
    grid-template-rows: 20px;
    background-color: transparent;
    border: 0;
    column-gap: 4%;
}
.first-block-images-button img {
    align-self: center;
    justify-self: end;
    width: 40%;
    height: 1px;
}
.first-block-images-button p {
    align-self: center;
    justify-self: end;
    font-size: 1rem;
    cursor: pointer;
    transition-duration: 0.4s;
}
.first-block-images-button p:hover {
    color: var(--active);
    cursor: pointer;
}


/* Main Text div container styling */
.main-text-container {
    grid-area: mainTextContainer;
    display: grid;
    grid-template-columns: 15% 0.7fr;
    grid-template-rows: auto auto;
    grid-template-areas: 
        "mainText1 mainText1"
        "socials1 mainText2";
    gap: 3rem;
}
.main-text-1 {
    grid-area: mainText1;
    font-size: 2rem;
}
.main-text-2 {
    grid-area: mainText2;
    font-size: 2rem;
}

/* Socials inside Main Text */
.socials-1 {
    grid-area: socials1;
    align-self: end;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    row-gap: 1rem;
}
.socials-1 a {
    color: var(--gray);
    text-decoration: none;
    font-size: 1.1rem;
    transition-duration: 0.4s;
}
.socials-1 a:hover {
    color: var(--active);
}

/* H2 Intro Container Styling */
.all-projects-container {
    grid-area: allProjects;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;
    column-gap: 1rem;
}
.all-projects-container h2 {
    font-size: 1.9rem;
}
.all-projects-container img {
    align-self: center;
    justify-self: end;
    width: 50px;
}


/* Second Block Full Width Styling */
.second-block {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 8rem auto 8rem auto;
    grid-template-areas: 
    "."
    "commercialGallery"
    "."
    "residentalGallery";
}

/* Commercial Gallery Styling */
.commercial-gallery {
    grid-area: commercialGallery;
    display: grid;
    grid-template-columns: 1fr 1fr 0.5fr;
    grid-template-rows: auto auto;
    grid-template-areas: 
    "commercialPage img1 img2"
    ". commercialCounter .";
    column-gap: 2%;
}

/* Button that Leads to Commercial Page */
.commercial-page {
    grid-area: commercialPage;
    display: grid;
    grid-template-columns: 1fr 1fr 50px 1fr;
    grid-template-rows: auto 3rem 2rem auto;
    grid-template-areas: 
    ". . . ."
    ". h2 arrow ."
    ". h4 . ."
    ". . . .";
    column-gap: 1rem;
}
.commercial-page h2 {
    grid-area: h2;
    font-size: 2.6rem;
    justify-self: end;
    cursor: pointer;
}
.commercial-page h4 {
    grid-area: h4;
    justify-self: end;
    cursor: pointer;
}
.commercial-page img {
    grid-area: arrow;
    align-self: end;
    justify-self: end;
    cursor: pointer;
}
/* Layout of Commersial Gallery */
.commercial-gallery img {
    width: 100%;
    height: auto;
}
.commercial-photo-container-1 {
    grid-area: img1;
}
.commercial-animation-container-1 {
    grid-area: img1;
}
#commercial-photo-1 {
    opacity: 100%;
    transition: 1.2s;
    box-shadow: 2px 2px 2px rgb(63, 78, 66);
}
#commercial-animation-box-1 {
    opacity: 0;
    transition: 1.2s;
    box-shadow: 2px 2px 2px rgb(63, 78, 66);
}

.commercial-photo-container-2 {
    grid-area: img2;
}
.commercial-animation-container-2 {
    grid-area: img2;
}

#commercial-photo-2 {
    height: 99%;
    object-fit: cover;
    object-position: 0;
    transition: 1.2s;
    box-shadow: 2px 2px 2px rgb(63, 78, 66);
}
#commercial-animation-box-2 {
    height: 99%;
    object-fit: cover;
    object-position: 0;
    opacity: 0;
    transition: 1.2s;
    box-shadow: 2px 2px 2px rgb(63, 78, 66);
}

/* Commecrial Button with Photo Counter */
.commercial-counter {
    grid-area: commercialCounter;
    display: grid;
    grid-template-columns: 30% 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "arrow counter";
}
#next-commercial {
    width: fit-content;
    height: 40px;
    border: 0;
    background-color: transparent;
    grid-area: arrow;
    cursor: pointer;
}
#next-commercial-arrow {
    width: 45px;
    height: 21px;
}
.counter-commercial {
    grid-area: counter;
    align-self: center;
    justify-self: end;
}

/* Residental Gallery Styling */
.residental-gallery {
    grid-area: residentalGallery;
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
    "img1 img2 residentalPage"
    "...... residentalCounter ...........";
    column-gap: 2%;
}

/* Button that Leads to Residental Page */
.residental-page {
    grid-area: residentalPage;
    display: grid;
    grid-template-columns: 1fr 1fr 50px 1fr;
    grid-template-rows: auto 3rem 2rem auto;
    grid-template-areas: 
    ". . . ."
    ". h2 arrow ."
    ". h4 . ."
    ". . . .";
    column-gap: 1rem;
}
.residental-page h2 {
    grid-area: h2;
    font-size: 2.6rem;
    justify-self: end;
    cursor: pointer;
}
.residental-page h4 {
    grid-area: h4;
    justify-self: end;
    cursor: pointer;
}
.residental-page img {
    grid-area: arrow;
    align-self: end;
    justify-self: end;
    cursor: pointer;
}

/* Layout of Residental Gallery */
.residental-gallery img {
    width: 100%;
    height: auto;
}

.residental-photo-container-1 {
    grid-area: img1;
}
.residental-animation-container-1 {
    grid-area: img1;
}
#residental-photo-1 {
    opacity: 100%;
    transition: 1.2s;
    height: 99%;
    object-fit: cover;
    object-position: 0;
    box-shadow: -2px 2px 2px rgb(63, 78, 66);
}
#residental-animation-box-1 {
   opacity: 0;
   transition: 1.2s;
   height: 99%;
   object-fit: cover;
   object-position: 0;
   box-shadow: -2px 2px 2px rgb(63, 78, 66);
}

.residental-photo-container-2 {
    grid-area: img2;
}
.residental-animation-container-2 {
    grid-area: img2;
}

#residental-photo-2 {
    opacity: 100%;
    transition: 1.2s;
    box-shadow: -2px 2px 2px rgb(63, 78, 66);
}
#residental-animation-box-2 {
    opacity: 0%;
    transition: 1.2s;
    box-shadow: -2px 2px 2px rgb(63, 78, 66);
}


/* Residental Button with Photo Counter */
.residental-counter {
    grid-area: residentalCounter;
    display: grid;
    grid-template-columns: 30% 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "arrow counter";
}
#next-residental {
    width: fit-content;
    height: 40px;
    border: 0;
    background-color: transparent;
    grid-area: arrow;
    cursor: pointer;
}
#next-residental-arrow {
    grid-area: arrow;
    transform: rotate(180deg);
    width: 45px;
    height: 21px;
}

.counter-residental {
    grid-area: counter;
    align-self: center;
    justify-self: end;
}

/* Third Block Styling */
.third-block {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 16rem auto 8rem auto 12rem auto 8rem;
    grid-template-areas: 
    "."
    "supervisionContainer"
    "."
    "fullWidthImg"
    "."
    "workTogether";
}

/* Supervision Info Styling */
.supervision-info {
    grid-area: supervisionContainer;
    display: grid;
    grid-template-columns: 6% 34% 0.8fr 1fr 4%;
    grid-template-rows: auto;
    grid-template-areas: ". h2 p . .";
}
.supervision-info h2 {
    grid-area: h2;
    font-size: 2.5rem;
    align-self: center;
}
.info {
    grid-area: p;
    display: grid;
    row-gap: 2rem;
}

/* Full Width Photos */
.full-width-photo {
    grid-area: fullWidthImg;
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto 3rem;
    grid-template-areas: 
    "img1 img2 img3 img4 img5"
    ". . . . read";
}
.full-width-photo img {
    width: 100%;
    height: auto;
}
.full-1 {
    grid-area: img1;
}
.full-2 {
    grid-area: img2;
}
.full-3 {
    grid-area: img3;
}
.full-4 {
    grid-area: img4;
}
.full-5 {
    grid-area: img5;
}

/* Button that leads to Read More Page */
.read-more {
    grid-area: read;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "arrow h3";
    justify-self: center;
    align-self: center;
}
.read-more img {
    grid-area: arrow;
    align-self: center;
    justify-self: start;
    width: 90%;
}
.read-more h3 {
    grid-area: h3;
}
/* Container that leads to Start project Page */
.work-together-container {
    grid-area: workTogether;
    display: grid;
    grid-template-columns: 5% 1fr 4%;
    grid-template-rows: auto auto;
    font-size: 1.4rem;
    row-gap: 1.5rem;
}
.work-together-container h2 {
    grid-column: 2;
    color: var(--gray);
}
.start-project {
    grid-column: 2;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto;
    column-gap: 1rem;
}
.start-project h2 {
    grid-column: 1;
    color: var(--light);
}
.start-project img {
    grid-column: 2;
    align-self: center;
}

/* Footer Block Styling */
.footer-block {
    display: grid;
    grid-template-columns: 5% 32% 29% 12% 1fr 2%;
    grid-template-rows: 4rem 1px 1rem auto 12rem 1px 1rem auto 2rem;
    grid-template-areas: 
    ". . . . . ."
    "vline1 vline1 vline1 vline1 vline1 vline1"
    ". . . . . ."
    ". socials addresses . email ."
    ". . . . . ."
    "vline2 vline2 vline2 vline2 vline2 vline2"
    ". . . . . ."
    ". logo2 . copyright . ."
    ". . . . . .";
}

/* Socials Conitainer Styling */
.social-media-container {
    grid-area: socials;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto 3rem auto;
    grid-template-areas: 
    "h3"
    "."
    "socialsLinks";
}
.social-media-container h3 {
    grid-area: h3;
    color: var(--gray);
}
.socials-links {
    grid-area: socialsLinks;
    display: grid;
    row-gap: 0.8rem;
}
.socials-links a {
    color: var(--light);
    font-size: 1rem;
    text-decoration: none;
}

/* Addresses Container Styling */
.addresses-container {
    grid-area: addresses;
    display: grid;
    grid-template-columns: 14% auto;
    grid-template-rows: auto 3rem auto;
    grid-template-areas: 
    ". h3"
    ". ."
    ". addresses";
}
.addresses-container h3 {
    grid-area: h3;
    color: var(--gray);
}
.addresses {
    grid-area: addresses;
    display: grid;
    row-gap: 0.8rem;
}
address {
    font-style: normal;
    font-size: 1rem;
}

/* E-mail Container Styling */
.e-mail {
    grid-area: email;
    display: grid;
    grid-template-columns: 8% auto;
    grid-template-rows: 4rem auto;
    grid-template-areas: 
    ". h3"
    ". mail";
}
.e-mail h3 {
    grid-area: h3;
    color: var(--gray);
}
.e-mail a {
    grid-area: mail;
    color: var(--light);
    font-size: 0.9rem;
    text-decoration: none;
}

/* Footer Logo Styling */
.second-logo {
    grid-area: logo2;
    display: grid;
    grid-template-columns: 5% 0.8fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: 
    "logo2 logo2 logo2"
    ". logo2Line room";
    gap: 1rem;
}
.second-logo img {
    width: 100%;
    height: auto;
}
.logo2 {
    grid-area: logo2;
}
.logo2-line {
    grid-area: logo2Line;
    align-self: center;
}
.logo2-room {
    grid-area: room;
}

.copyright {
    grid-area: copyright;
    align-self: end;
    display: grid;
    grid-template-columns: 20% 1fr 1%;
}
.copyright h3 {
    grid-column: 2;
    font-size: 1rem;
}

#line-horizontal-1 {
    grid-area: vline1;
    width: 100%;
    height: 1px;
    background-color: #F5F5F5;
    opacity: 15%;
    z-index: -1;
}
#line-horizontal-2 {
    grid-area: vline2;
    width: 100%;
    height: 1px;
    background-color: #F5F5F5;
    opacity: 15%;
    z-index: -1;
}

/* Media for Tablet */
@media screen and (max-width: 1100px) {
    .first-block {
        grid-template-columns: 2% 1fr 25% 1fr 1fr 1fr 2%;
        grid-template-areas: 
        /*1*/". . . . . . ."
        /*2*/". logo . . . navmenu ."
        /*3*/". . . . . . ."
        /*4*/". studioName studioName studioName studioName studioName ."
        /*5*/". . . . . . ."
        /*6*/". authorName authorName photoContainer photoContainer photoContainer ."
        /*7*/". . . . . . ."
        /*8*/". . mainTextContainer mainTextContainer mainTextContainer mainTextContainer ."
        /*9*/". . mainTextContainer mainTextContainer mainTextContainer mainTextContainer ."
        /*10*/". . . . . . ."
        /*11*/". allProjects allProjects allProjects . . ."
    }
    .nav-menu {
        row-gap: 0.6rem;
    }
    .first-block-image-container {
        grid-area: photoContainer;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        grid-template-areas: 
            "image1 image3"
            ". button";
        gap: 1%;
    }
    .main-text-container {
        grid-template-columns: 15% 0.8fr;
    }
    .main-text-1 {
        grid-area: mainText1;
        font-size: 1.5rem;
    }
    .main-text-2 {
        grid-area: mainText2;
        font-size: 1.5rem;
    }
    .room-image-2 {
        display: none;
    }
    .supervision-info {
        grid-template-columns: 5% 0.6fr 1fr 3%;
        grid-template-rows: auto auto;
        grid-template-areas: 
        ". h2 h2 ."
        ". . p .";
        row-gap: 1.2rem;
    }
    .supervision-info h2 {
        font-size: 2.4rem;
    }
    .commercial-page {
        grid-template-columns: 1% 1fr 35px 1%;
        grid-template-rows: auto 2.4rem 2rem auto;
    }
    .commercial-page h2 {
        font-size: 2em;
    }
    .commercial-page h4 {
        font-size: 0.9rem;
    }
    .residental-page {
        grid-template-columns: 1% 1fr 35px 1%;
        grid-template-rows: auto 2.4rem 2rem auto;
    }
    .residental-page h2 {
        font-size: 2rem;
    }
    .residental-page h4 {
        font-size: 0.9rem;
    }
    .full-width-photo {
        grid-template-columns:1fr 1fr 1fr 1fr;
        grid-template-rows: auto 3rem;
        grid-template-areas: 
        "img1 img2 img3 img4"
        ". . . read";
    }
    /* Footer */
    .footer-block {
        grid-template-columns: 5% 1fr 3%;
        grid-template-rows: auto;
        grid-template-areas:
        ". . ."
        ". socials ."
        ". addresses ."
        ". email ."
        ". . ."
        ". logo2 ."
        ". copyright .";
        row-gap: 2rem;
    }
    .social-media-container {
        grid-template-rows: auto 1.2rem auto;
        font-size: 1.4rem;
    }
    .socials-links a {
        font-size: 1.3rem;
    }
    .addresses-container {
        grid-area: addresses;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto 1.2rem auto;
        grid-template-areas: 
        "h3"
        "."
        "addresses";
        font-size: 1.4rem;
    }
    address {
        font-size: 1.3rem;
    }
    .e-mail {
        grid-template-columns: auto;
        grid-template-rows: auto 1.2rem auto;
        grid-template-areas: 
        "h3"
        "."
        "mail";
        font-size: 1.4rem;
    }
    .e-mail a {
        font-size: 1.3rem;
    }
    .second-logo img {
        width: 96%;
    }
    .copyright {
        justify-self: center;
        display: grid;
        grid-template-columns: 1fr;
    }


    .full-5 {
        display: none;
    }
}

/* Media For Mobile */
@media screen and (max-width: 660px) {
    /* Main First Block */
    .first-block {
        grid-template-columns: 3% 1fr 1fr 1fr 1fr 1fr 3%;
        grid-template-rows: 2rem auto 2rem auto 2rem auto auto 4rem auto auto 4rem auto;
        grid-template-areas: 
        /*1*/". . . . . . ."
        /*2*/". logo . . . navmenu ."
        /*3*/". . . . . . ."
        /*4*/". photoContainer photoContainer photoContainer photoContainer photoContainer ."
        /*5*/". . . . . . ."
        /*6*/". studioName studioName studioName studioName studioName ."
        /*7*/". . authorName authorName authorName authorName ."
        /*8*/". . . . . . ."
        /*9*/". mainTextContainer mainTextContainer mainTextContainer mainTextContainer mainTextContainer ."
        /*10*/". mainTextContainer mainTextContainer mainTextContainer mainTextContainer mainTextContainer ."
        /*11*/". . . . . . ."
        /*12*/". allProjects allProjects allProjects allProjects allProjects ."
    }
    .dropdown-burger, #dropdown-block {
        display: block;
    }
    /* First Block Images */
    .first-block-image-container {
        grid-area: photoContainer;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
            "image1";
    }
    .first-block h3 {
        align-self: end;
        justify-self: end;
        font-size: 1.1rem;
    }
    .main-text-container {
    grid-area: mainTextContainer;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
        "mainText1 mainText1 mainText1"
        "mainText2 mainText2 mainText2"
        "socials1 socials1 socials1";
    gap: 1rem;
    }
    .all-projects-container {
        justify-self: end;
    }
    .all-projects-container h2 {
        font-size: 1.5rem;
    }
    .main-text-1, .main-text-2 {
        font-size: 1.3rem;
    }
    .socials-1 {
        grid-template-columns: 1fr 1fr 1fr;

    }
    .second-block {
        grid-template-rows: 4rem auto 4rem auto;
    }
    /* Commercial Gallery */
    .commercial-gallery {
        grid-template-columns: 1fr 0.25fr;
        grid-template-rows: auto 1.5rem auto auto;
        grid-template-areas: 
        "commercialPage commercialPage"
        ". ."
        "img1 img2"
        "commercialCounter .";
    }
    .commercial-page {
        grid-template-columns: 3% auto 1fr 3%;
        grid-template-rows: auto;
        grid-template-areas: 
        ". h2 arrow ."
        ". h4 . .";
        column-gap: 0.2rem;
    }
    .commercial-page h2 {
        font-size: 2rem;
        justify-self: start;
    }
    .commercial-page h4 {
        font-size: 0.8rem;
    }
    .commercial-page img {
        width: 40px;
        height: auto;
        justify-self: start;
    }
    .commercial-counter {
        grid-template-columns: 3% auto 1fr 3%;
        grid-template-rows: auto;
        grid-template-areas: 
        ". arrow counter .";
    }
    /* Residental Gallery */
    .residental-gallery {
        grid-template-columns: 0.25fr 1fr;
        grid-template-rows: auto 1.5rem auto auto;
        grid-template-areas:
        "residentalPage residentalPage"
        ". ."
        "img1 img2"
        ". residentalCounter";
        column-gap: 2%;
    }
    .residental-page {
        grid-template-columns: 3% 1fr auto 3%;
        grid-template-rows: auto;
        grid-template-areas: 
        ". h2 arrow ."
        ". h4 . .";
        column-gap: 0.2rem;
    }
    .residental-page h2 {
        font-size: 2rem;
        justify-self: end;
    }
    .residental-page h4 {
        font-size: 0.8rem;
    }
    .residental-page img {
        width: 40px;
        height: auto;
        justify-self: end;
    }
    .residental-counter {
        grid-template-columns: 3% auto 1fr 3%;
        grid-template-rows: auto;
        grid-template-areas: 
        ". arrow counter .";
    }
    /* Third Block */
    .third-block {
        grid-template-rows: 4rem auto 4rem auto 6rem auto 4rem;
    }
    /* Supervision Info */
    .supervision-info {
        grid-template-columns: 3% 0.6fr 1fr 3%;
        grid-template-rows: auto auto;
        grid-template-areas: 
        ". h2 h2 ."
        ". . p .";
        row-gap: 1.1rem;
    }
    /* Full Width Container */
    .full-width-photo {
        grid-area: fullWidthImg;
        display: grid;
        grid-template-columns:1fr 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas: 
        "img1 img2"
        "img3 img4"
        "read .";
        gap: 0.4rem;
    }
    .read-more {
        grid-template-columns: 6% 1fr auto;
        grid-template-areas: 
        ". arrow h3";
        justify-self: start;
        align-self: start;
    }
    /* Work Together */
    .work-together-container {
        grid-template-columns: 3% 1fr 3%;
        grid-template-rows: auto auto;
        grid-template-areas: 
        ". ready ."
        ". start .";
        row-gap: 1.5rem;
        font-size: 1.2rem;
    }
    .work-together-container h2 {
        grid-area: ready;
    }
    .start-project {
        grid-area: start;
        grid-template-columns: auto 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
        "h2 arrow";
        column-gap: 1rem;
    }
    .start-project h2 {
        grid-area: h2;
        color: var(--light);
    }
    .start-project img {
        grid-area: arrow;
        align-self: center;
    }
    /* Footer */
    .footer-block {
        grid-template-columns: 3% 1fr 3%;
    }

    .room-image-2, .room-image-3, .first-block-images-button, .vertical-line, .full-5, .nav-menu {
        display: none;
    }
}